a:link { color : #1a2a6c; text-decoration : none;}
a:visited {color :#1a2a6c; text-decoration : none;}
a:hover {color : grey; text-decoration : none;}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: white; /*Sets the text hover color on navbar*/
}
.navbar-inverse .navbar-nav > li > a {
    color: #e4e4d9; /*Change active text color here*/
}

.navbar-inverse {
    border:none;
    background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
    opacity: 0.8;
}
.navbar-inverse .navbar-brand{
    color:#e4e4d9;
}
.navbar-inverse .navbar-brand:hover{
    color:white;
}
.navbar-inverse .navbar-toggle{
    border:1.5px solid white;  
}
.navbar-inverse .navbar-toggle:hover{
    border:1px solid white;
    background-color:#e4e4d9;  
}
.navbar-inverse .navbar-toggle .icon-bar {
    border:0.5px solid white;
}
html {
    position: relative;
    min-height: 100%;
  }
body {
    /* Margin bottom by footer height */
    margin-bottom:140px;
    margin-top:60px;
    margin-left: 0;
    margin-right:0;
    padding: 0;
  }
.blog-footer {
position: absolute;
padding: 0.5rem 0;
width:100%;
color: #999;
text-align: center;
background-color: #f9f9f9;
border-top: .05rem solid #e5e5e5;
bottom: 0;
}
nav .navbar-nav .ul .li .span{
    color:white;
}


/*
 * Main column and sidebar layout
 */

 .col-centered{
    float: none;
    margin: 0 auto;
}
/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 1rem;
    /*margin: 0 -1rem 1rem;*/
  }
  .sidebar-module-inset {
    padding: 1rem;
    background-color:white;
    border-radius: .25rem;
    color:#1a2a6c;
  }
  .sidebar-module-inset p:last-child,
  .sidebar-module-inset ul:last-child,
  .sidebar-module-inset ol:last-child {
    margin-bottom: 0;
  }
  
  
  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  .blog-pagination > .btn {
    border-radius: 5px;
  }
  
.div-pagination{
    width:100%;
    text-align: left;
    padding:0px;
    margin: 0px;
}
ul.pagination >li >a{
    color: #1a2a6c;
    
}

ul.pagination > .active > a, 
ul.pagination > .active > a:hover, 
ul.pagination .active > a:focus {
  background-color:#1a2a6c;
  border-color:#1a2a6c;
}


  
  /*
   * Blog posts
   */

.blog-post {
margin-bottom: 6rem;
}
.blog-post-title {
margin-bottom: .25rem;
font-size: 2.8rem;
}
.blog-post-meta {
margin-bottom: 1.25rem;
color: #999;
}
hr{
    margin-top:60px;
    margin-bottom: 20px;
}
  
/*
 * Comment forms
 */

.comment-field{
    resize: none;
    outline:none;
    overflow:auto;
}

.label-primary {
    background-color: #1a2a6c;
    opacity:0.85;
}
