{% import "_macros.html" as macros %}
<script>var i =0 ;</script>
<script type="text/javascript" src="{{url_for('static',filename='jquery-latest.min.js')}}"></script>

{% for post in posts if (session['login'] or post.public) %}
<div class="blog-post">
        <h2 class="blog-post-title">{% if not single_post %}<a href="{{url_for('post',id=post.id)}}">{{post.title}}</a>{% else %}{{post.title}}{% endif %}</h2>
        
        <p class="blog-post-meta">Posted on {{ moment(post.timestamp).format('MMMM Do YYYY') }} about: 
            {% for tag in post.tags %}
                <a href="{{url_for('tag_posts',name=tag.name)}}"><span class="label label-primary"> {{tag.name }}</span></a>
            {% endfor %}</p>
        <div>      
        <p class="post-body">
            {% if post.body_html %}
                {% if single_post %}
                {{post.body_html | safe}}
                {% else %}
                {{ post.body}}
                {% endif %}
            {% else %}
                {{post.body}}
            {% endif %} 
        </p>
        </div>
        
        {% if not single_post %}
        <script>
            $('.post-body').css("height", "2.2em");
                function ellipsizeTextBox(el) {
                    var wordArray = el.innerHTML.split(',');
                    while(el.scrollHeight > el.offsetHeight) {
                        wordArray.pop();
                        el.innerHTML = wordArray.join(' ')  + '.....';
                    }}   
                var posts = document.getElementsByClassName("post-body");
                ellipsizeTextBox(posts[i]);
                i =i+1;
        </script>
        <div class="post-footer">
            <span><a class="btn-overflow" href="{{url_for('post',id=post.id)}}">Read more  </a> </span>
            {% if session['login'] %}
            <span>
                <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Options {% if not post.public %} [Private]{% endif %} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{{url_for('edit',id=post.id)}}">Edit</a></li>
                            <li><a href="#confirm-delete" data-toggle="modal" class="delete-post" data-id={{post.id}}>Delete</a></li>
                            {% if not post.public %}
                            <li><a href="{{url_for('show_post',id=post.id)}}">Set as public</a></li>
                            {% else %}
                            <li><a href="{{url_for('hide_post',id=post.id)}}">Set as private</a></li>
                            {% endif %}
                        </ul>
                </div>
                <script>
                    $('.delete-post').click(function () {
                        var mypost_id = $(this).data('id');
                        var strLink ="admin/delete_post/X"
                        var res = strLink.replace("X",mypost_id);
                        document.getElementById("post-id").setAttribute("href",res);
                        });
                </script>
                <div class="modal fade" id="confirm-delete" role="dialog">
                        <div class="modal-dialog">
                        <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Are you sure that you want to delete this post? This can not be undone.</h4>
                                </div>
                                <div class="modal-body">
                                    <a id ="post-id"><button type="button" class="btn btn-danger" data-dismiss="model">Yes, I'm sure</button></a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>                
                            </div>
                        </div>
                </div>
            </span>
            {% endif %}
            <span class="label label-primary" style="float:right">{{post.comments.count()}} {% if post.comments.count() >=2 %}Comments{% else %}Comment{% endif %} </span>
        </div>
        {% endif %}

        {% if single_post %}
        <hr/>
            {% if comments %}
                <div style="margin-bottom:30px;" >
                <h4>{{post.comments.count()}}
                    {% if post.comments.count() >=2 %}Comments
                    {% elif post.comments.count()==1%}Comment
                    {%elif post.comments.count() ==0 %}
                    {% endif %}
                </h4>
                </div>

                {% for comment in comments %}
                <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="label label-primary">{{comment.author}}</span> said on {{ moment(comment.timestamp).format('MMMM Do YYYY') }} 
                </div>
                <div class="panel-body">
                    {% if comment.disabled %}
                    <p style="color:red"><i><small>This comment has been disabled by the Admin.</small></i></p>
                    {% else %}
                    {{ comment.body }}
                    {% endif %}
                </div>
                </div>
                {% endfor %}
                <nav class="blog-pagination"> 
                        {% if pagination %}
                            <div class="pagination">
                                {{macros.pagination_widget(pagination, 'post',fragment='#comments',id=posts[0].id)}}
                            </div>
                        {% endif %} 
                </nav>
                <hr/>
        {% endif %}

        <h4 >Leave a comment</h4>
        <div>
        <form class="form" method="post" role="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}      
                {{ wtf.form_field(form.author, class="form-control") }}
                {{ wtf.form_field(form.email, class="form-control", placeholder="Enter email here") }} 
                {{ wtf.form_field(form.body, class="form-control comment-field", rows=2, placeholder="Leave a comment") }}
                {{ wtf.form_field(form.submit, button_map ={'submit':'default'}) }}
        </form>
        </div>
        {% endif %}
</div><!-- /.blog-post -->

{% endfor %}


