{% extends "base.html"%}

{% block page_content %}
<div class="blog-post">
<h2 class="blog-post-title">About me</h2>
        
<p class="blog-post-meta"></p>
<div>      
<p class="post-body">
    <ul>
        <li>I'm a happy human being currently living in Atlanta.</li>
        <li>Artist in the making.</li>
        <li>I do one thing at a time, no multi-tasking.</li>
        <li>I make things for fun, while also enjoying the process, hope that one day I'll make something profitable to sustain myself.</li>
        <li>I'm obsessed with piano and music.</li>
        <li>"Be present, and keep calm." ---something I say to myself a lot.  </li>
        <li>I'm the happiest when I'm alone and immerse myself in some of my favorite activities like coding or playing piano, but I also love having one on one coffee chat with people.</li>
        <li>Got a question?    <a href="mailto:dorisx137@gmail.com" class="glyphicon glyphicon-envelope"></a></li>
    </ul>
</p>
<br/>
<h2 class="blog-post-title">About this site</h2>
        
<p class="blog-post-meta"></p>
<div>      
<p class="post-body">
    <ul>
        <li>I designed and built it myself from scratch, really fun.</li>
        <li>It's powered by Flask and Heroku.</li>
        <li>It's been running since July 8th 2018.</li>
        <li>You can check the code <a href="https://github.com/dorisxx/personal-blog-powered-by-flask" style="color:darkblue">here</a>.</li>
    </ul>

</p>
</div>
</div>

{% endblock %}