{% extends "base.html"%}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<script type="text/javascript" src="{{url_for('static',filename='jquery.min.js')}}"></script>
<form class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}      

        {{ wtf.form_field(form.title, class="form-control",onkeypress="return event.keyCode != 13;")}}
        {{ wtf.form_field(form.tag, class="form-control", id="input", placeholder="enter a tag and press enter")}}
        <div style="margin-bottom: 1.5em;" id="i1" name="tags" class="tags"></div>
        {{ wtf.form_field(form.tags_hidden,style="display:none", id ="tags")}}
        {{ wtf.form_field(form.abstract, class="form-control comment-field", rows = 5)}}
        {{ wtf.form_field(form.body, class="form-control comment-field", rows=10) }}
        {{ wtf.form_field(form.public, class="form-control")}}
        {{ wtf.form_field(form.submit,button_map ={'submit':'primary'}) }}
</form>
<script>
        $(document).on("keypress", ":input:not(textarea)", function(event) {
                return event.keyCode != 13;
                });
        window.onload = function() {
                document.getElementById('tags').value = '';
                }

        var tags=[];
        $('#input').bind('keyup', function(event) {
                if (event.keyCode == "13") {
                var t = document.getElementById("input").value;
                var test = '<span class="label label-primary">'+t+'<a onclick="del(this)" style="color:white" class="glyphicon glyphicon-remove"></a></span> ';
                $('#i1').append(test);
                var content = $('.tags').find('span').map(function(){
                        return $(this).text();
                }).get();
                console.log($('#tags').val());
                $('#tags').val(content);
                console.log(content);
                
                document.getElementById("input").value = '';
}
}); 
        function del(el)
        {   
           $(el).parent().remove();
           var content = $('.tags').find('span').map(function(){
                        return $(this).text();
                }).get();
           $('#tags').val(content);
        };  
</script>

{% endblock %}



{% block scripts %}
{{super()}}
{{pagedown.include_pagedown()}}
<script type="text/javascript" src="{{url_for('static',filename='jquery.min.js')}}"></script>
{% endblock %}