{% extends "base.html"%}

{% block head %}
{{super()}}
<style>
  * {box-sizing: border-box}
  img {vertical-align: middle;}
  
.card-container {
  cursor: pointer;
  perspective: 600;
  position: relative;
  width:400px;
  height:400px;
  margin:0 auto;
}
.card {
  height: 100%;
  position: relative;
  margin:auto;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
  transform: rotateY(180deg);
}
  </style>
{% endblock %}

{% block page_content %}
<!--
<div class="image-container">
    <div class="flipper">
        <div class="front">
            <img src="../static/images/blog-1.jpg" style="width:100%">
        </div>
        <div class="back">
            <p>test</p>
        </div>
    
    </div>
</div> -->

<div class="card-container">
        <div class="card">
          <div class="side"><img src="../static/images/index.jpg" style="max-height:100%; max-width:100%;"></div>
         
          <div class="side back">
            <div class="side"><img src="../static/images/back.jpg" style="max-height:100%; max-width:100%;"></div>
          </div>
        </div>
</div>

{% endblock %}