{% extends "base.html" %} 
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<form class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}      
        {{ wtf.form_field(form.email, class="form-control", placeholder="Enter email here") }} 
        {{ wtf.form_field(form.password, class="form-control")}}
        {{ wtf.form_field(form.submit, button_map ={'submit':'default'}) }}
</form>
{% endblock %}