{% extends "base.html"%}

{% block page_content %}

<div class="gallery">
    <img src="../static/images/blog-1.jpg" alt="Cinque Terre" width="300" height="200">
</div>

<div class="gallery">
    <img src="../static/images/blog-2.jpg" alt="Forest" width="300" height="200">
</div>

<div class="gallery">
    <img src="../static/images/blog-3.jpg" alt="Northern Lights" width="300" height="200">
</div>

<div class="gallery">
    <img src="../static/images/blog-4.jpg" alt="Mountains" width="300" height="200">
</div>

<div class="gallery">
        <img src="../static/images/blog-5.jpg" alt="Mountains" width="300" height="200">
    </div>
{% endblock %}